<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Museum</title>
</head>
<body>
<form action="/gallery" method="get">
    <button type="submit">Visit Gallery</button>
</form>

<p>
    <h1>Welcome to the Spring Museum of Fine Art's Annual Fundraiser!</h1>

    To raise funds and awareness, we auction 5 masterpieces every summer.<br>
    Please browse the gallery and bid on the pieces you would like to add to
    your private collection.<br>

    May the odds be ever in your favor!
</p>

</body>
</html>