<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Museum</title>
</head>
<body>

{{#current_picture}}
<h2>id:{{id}}--{{title}}</h2>
<img src="{{url}}" alt="{{title}}" style="width:304px;height:228px;">
<form action="/addComment" method="POST">
    <input type="text" name="commentText" placeholder="Type your comment here.">
    <input type="hidden" name="pictId" value={{id}}>
    <button type="submit">Add comment</button>
</form>

<ol>{{#commentList}}
<li>{{comment}}</li>
    {{/commentList}}</ol>

{{/current_picture}}

<form action="/login" method="GET">
    <button type="submit">Login</button>
</form>

<form action="/logout" method="POST">
    <button type="submit">Logout</button>
</form>



{{#picture_list}}
<a href="/picture/?id={{id}}">{{title}}
    <img src="{{url}}" alt="{{title}}" style="width:30px;height:23px;"></a>
{{/picture_list}}

</body>
</html>