<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Museum</title>
</head>
<body>

{{#current_picture}}
<h2>{{title}}</h2>
<img src="{{url}}" alt="{{title}}" style="width:304px;height:228px;"></a>
{{/current_picture}}

<form action="/addComment", method="post">
    <button type="submit">Add Comment</button>
</form>

<form action="/updateComment", method="post">
    <button type="submit">Edit Comment</button>
</form>

<form action="/login" method="get">
    <button type="submit">Login</button>
</form>

<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

{{#picture_list}}
<a href="/picture/?id={{id}}"><h2>{{title}}</h2>
    <img src="{{url}}" alt="{{title}}" style="width:30px;height:23px;"></a>
{{/picture_list}}

</body>
</html>