<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Museum</title>
</head>
<body>

{{#current_picture}}
<h2>id:{{id}}--{{title}}</h2>
<img src="{{url}}" alt="{{title}}" style="width:304px;height:228px;">
<form action="/addComment" method="POST">
    <input type="text" name="commentText" placeholder="Type your comment here.">
    <input type="hidden" name="pictId" value={{id}}>
    <button type="submit">Add comment</button>
</form>

<ol>{{#commentList}}
<li>comment id: {{commentId}}--comment author: {{author}}--{{comment}}
    <form action="/editComment" method="POST"><
        <input type="number" name="commentId" placeholder="Type comment id here.">
        <input type="number" name="pictId" placeholder="Type picture id here.">
        <input type="hidden" name="author" value="{{author}}">
        <input type="text" name="updateText" placeholder="Edit comment here.">
        <button type="submit">Update comment</button>
    </form>
    <form action="/deleteComment" method="POST">
        <input type="hidden"name="aurthor" value="{{author}}">
        <input type="number" name="commentId" placeholder="Type comment id here.">
        <button type="submit">Delete Comment</button>
    </form>
</li>
    {{/commentList}}</ol>

{{/current_picture}}

<form action="/login" method="GET">
    <button type="submit">Login</button>
</form>

<form action="/logout" method="POST">
    <button type="submit">Logout</button>
</form>



{{#picture_list}}
<a href="/picture/?id={{id}}">{{title}}
    <img src="{{url}}" alt="{{title}}" style="width:30px;height:23px;"></a>
{{/picture_list}}

</body>
</html>