<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Museum</title>
</head>
<body>
<form action="/registerSubmit" method="post">
    <input type="text" name="username" placeholder="Username"/>
    <input type="password" name="password" placeholder="Password"/>
    <input type="text" name="firstname" placeholder="First Name"/>
    <input type="text" name="lastname" placeholder="Last Name"/>
    <input type="text" name="address" placeholder="Address"/>
    <input type="text" name="city" placeholder="City"/>
    <input type="text" name="state" placeholder="State"/>
    <input type="number" name="zipcode" placeholder="Zip Code"/>
    <input type="text" name="phone" placeholder="Phone Number"/>
    <input type="text" name="email" placeholder="Email"/>
    <!--<label><input type="checkbox" name="subscribe" value="subscribe"/>I want to receive newsletters</label>-->
    <!--<label><input type="checkbox" name="events" value="events"/>I want to be notified of upcoming events</label>-->
    <!--<label><input type="checkbox" name="volunteer" value="volunteer"/>I want to volunteer</label>-->
    <!--<label><input type="checkbox" name="donate" value="donate"/>I want to donate</label>-->
    <button type="submit">Register</button>
</form>
</body>
</html>